@font-face {
	font-family: "Segoe UI";
	font-weight: 300;
	src: local("Segoe UI Semilight");
}
h1,h2,p {
	color: #2af;
	font-weight: normal;
	font-family: 'Segoe UI', 'Hiragino Kaku Gothic Pro', Meiryo;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
}
p, li {
	font-size: 15px;
	color: #eee;
}

.tabs {
	position: fixed;
}
.tabs li {
	color: #fff;
}
.tabpage {
}

body {
	background: rgb(20,20,20);		
}
audio {
	display: none;
}
.tabpage {
	margin-top: 2em;
	display:block;
	max-width: 500px;
	margin-left:auto;
	margin-right:auto;
}
a { color: rgb(40, 150, 255); }
canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input[type='file'] {
	opacity: 0;
	width: 0px;
	height: 0px;
	display: block;
}
